<!-- Strat About Section -->
<section class="page-section about-heading bg-light" id="about">
    <div class="container">
        <img alt="" class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/images/about.jpg">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">{{translation.sectionItems.section2.subtitle}}</span>
                            <span class="section-heading-lower">{{translation.sectionItems.section2.title}}</span>
                        </h2>
                        <p class="text-muted">{{translation.sectionItems.section2.msgSection}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // End About Section -->