<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center text-md-right">
                <a href="mailto:juripalace@gmail.com">
                    <i class="scl-btn scl-crcl shadow fas fa-envelope"></i>
                </a>
                <a href="#">
                    <i class="scl-btn scl-crcl shadow fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/juripalace?ref_src=twsrc%5Etfw" target="_blank" data-show-count="false">
                    <i class="scl-btn scl-crcl shadow fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="scl-btn scl-crcl shadow fab fa-instagram"></i>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="d-none d-md-block col-md-12 text-right">
                <span class="telephone">{{translation.msgContacTelephone}}</span>
            </div>
        </div>

        <div class="row">
            <div class="d-none d-md-block col-md-12 text-center">
                <span class="copyright">{{translation.msgCopyright}}</span>
            </div>
            <div class="d-block d-md-none col-sm-12 text-center">
                <span class="copyright">{{translation.msgShortCopyright}}</span>
            </div>
        </div>
    </div>
</footer>