<!-- Strat Services Section -->
<section class="page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="section-heading col-lg-12 text-center">
                <h2 class="section-heading-upper">LOREM IPSUM DOLOR SIT AMET CONSECTETUR.</h2>
                <h3 class="section-heading-lower">SERVICES</h3>
            </div>
        </div>
        <br>
        <br>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-user-shield fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Sector Seguros</h4>
                <p class="text-muted">Tenemos una gran oferta de seguros, con nosotros encuentras lo que buscas al mejor precio. Trabajamos sin intermediarios con Segur Caixa Adeslas y Reale Seguros, a nuestro criterio son las mejores compañías aseguradoras, las más grande y más importantes del sector. Contamos con su confianza gracias a nuestra experiencia y nuestro buen hacer. Nuestros socios y colaboradores con más de 30 años en el mercado asegurador nos respaldan.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-sign fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Sector Inmobiliario</h4>
                <p class="text-muted">Encontramos espacios Gestionamos inmuebles y carteras Diseñamos y proyectos inmobiliarios Como invertir en activos inmobiliarios y como transformar con tecnología<br>
                    Conocemos el mercados, mediante el análisis en sitio y las  tendencias Contamos con buscadores de Inmuebles para encontrar espacios e función de vuestras necesidades.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-gavel fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Asesoria Jurídica</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </section>
    <!-- // End Services Section -->
