/* Sticky footer styles
-------------------------------------------------- */
.footer {
  bottom: 0;
  width: 100%;
  line-height: 40px;
  background-color: $primary;
  padding: 5px 0;
  position: relative;
  height: auto;
  span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    text-align: center;
    color: #ffffff;
    @include heading-font;
  }
  span.telephone {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    color: #e8e167;
    @include heading-font;
  }
}